/* Grid layout */

.pageContainer {
  background-color: var(--snow);
  display: grid;
  width: 100%;
  grid-template-columns: [col1] 20rem [col2] auto [col3];
}

/* aside filtering component */

.filters {
  background-color: var(--darc);
  padding: 0 2rem;
  color: var(--snow);
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
}
.filters .snippets {
  background-color: var(--lighter-gray);
}
.filterHead {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}
.filters .btn {
  font-size: initial;
  cursor: pointer;
  color: var(--snow);
  text-decoration-color: var(--snow);
}
.filters .btn-link-dot {
  text-decoration-style: solid;
}
.filters input {
  accent-color: var(--snow);
}
.filters input[type="radio"],
.filters input[type="checkbox"] {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.filters input[type="radio"] {
  accent-color: var(--darc);
}
#myRange {
  cursor: pointer;
  width: 15rem;
}
/* Main product display page grid layout */

.pageContent {
  width: 100%;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-template-rows: repeat(auto-fill, 29rem);
  gap: 2rem;
}

/* card component */

.productCard {
  position: relative;
  border-radius: 3px;
  box-shadow: 0px 0px 8px 4px var(--lighter-gray),
    0px 0px 2px 2px var(--lighter-gray);
}
.productCard img {
  border-radius: 3px;
}
.productImage {
  height: 14rem;
  overflow: hidden;
}
.cardContent {
  border-radius: 3px;
  height: 9rem;
  background-color: var(--snow);
}
.cardActionButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardActionButtons .btn {
  border-radius: 3px;
}
.productCard .priceContainer {
  border-radius: 3px;
  background-color: var(--snow);
  color: var(--darc);
}

/* add to card button */

.productCard .btn-success {
  background-color: var(--light-success);
  color: var(--snow);
}
.productCard .btn-success:hover {
  background-color: var(--success);
  border-color: var(--success);
  box-shadow: none;
}
/* wishlisht button */

.productCard .btn-primary {
  background-color: var(--light-caution);
  color: var(--snow);
}
.productCard .btn-primary:hover {
  background-color: var(--caution);
  border-color: var(--caution);
  box-shadow: none;
}

.wishListIcon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: var(--snow);
  border-radius: 50%;
  padding: 6px;
  color: var(--caution);
  cursor: pointer;
}

.wishListIcon:hover {
  transition: all ease-in 0.3s;
  transform: rotateY(-180deg);
}
