.basicDark {
  background-color: var(--darc);
  color: var(--snow);
}
.basicLight {
  background-color: var(--snow);
  color: var(--darc);
}
.pureLight {
  background-color: var(--snow);
  color: var(--snow);
}
.pureDark {
  background-color: var(--darc);
  color: var(--darc);
}
