@import url("https://mirinda-mewi.netlify.app/styles/main.css");
@import url(/src/Styles/main.css);
* {
  box-sizing: border-box;
}
body {
  background-color: var(--blue-gray);
}
.disabled {
  display: none;
}
